@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root
{
    --blue: #1a1aff;
    --red: red;
    --black: #130f40;
    --light-color: #666;
    --box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    --border: 2rem solid rgba(0,0,0.1);
    --outline: .1rem solid rgba(0,0,0.1);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.2s linear;
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
}

body{
    background-color: #f2f2f2;
}

.btn{
    border: .2rem solid var(--black);
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 4rem;
    font-size: 1.2rem;
    border-radius: .5rem;
    color: var(--black);
    cursor: pointer;
    background: none;
    margin-bottom: 1rem;
}

.btn:hover{
    background-color: var(--blue);
    color: white;
    box-shadow: var(--box-shadow);
}
.header{
    height: 6rem;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
}

.header .logo{
    font-size: 2.5rem;
    font-weight: Bolder;
    display: flex;
    color: var(--black);
}

.logo-img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.header .navbar a{
    font-size: 1.5rem;
    margin: 0 1rem;
    color: var(--black);
    transition: all 0.2s linear;
}

.header .navbar a:hover{
    color: #1a1aff;
}

.header .icons div{
    border: 2.5px solid;
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    border-radius: 0.5rem;
    background: #eee;
    color: var(--black);
    font-size: 2rem;
    margin-right: .3rem;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out linear;
}
.header .icons div:hover{
    background: var(--blue);
    color: white;
    
}
#menu-btn{
    display: none;
}

.header .navbar.active{
    right: 2rem;
    transition: .1s linear;
}

.header .search-form{
    border: 0px solid;
    position: absolute;
    top: 110%;
    right: 110%;
    width: 50rem;
    height: 4rem;
    background: white;
    border-radius: .5rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);
}
header .search-form input{
    height: 100%;
    width: 100%;
    background: none;
    text-transform: none;
    font-size: 1.6rem;
    color: var(--black);
    padding: 0 1.5rem;
}

header .search-form label{
    font-size: 2.2rem;
    padding-right: 1.5rem;
    color: var(--black);
    cursor: pointer;
    transition: all 0.2s ease-in-out linear;
}
header .search-form label:hover{
    color: var(--blue);

}

.header .search-form.active{
    right: 2rem;
    transition: all .2s ease-in-out linear;
}

.header .shopping-cart{
    border: 0px solid var(--black);
    position: absolute;
    top: 110%;
    right: -110%;
    width: 16rem;
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    background: white;
}

.header .shopping-cart.active{
    right: 2rem;
    transition: .4s linear;
}

.header .shopping-cart .box{
    display: block;
    align-items: center;
    gap: 1rem;
    position: relative;
    margin: 1rem 0;

}

.header .shopping-cart .box img{
    height: 5rem;
    margin-left: 5rem;
}

header .shopping-cart .box span{
   margin-left: 3rem;
   font-size: 1.1rem;
}

.header .shopping-cart .box h3{
    text-align: center;
}

.header .shopping-cart .box .fa-trash{
    position: absolute;
    top: 50%;
    right: 2rem;
    font-size: 2rem;
    cursor: pointer;
}

header .shopping-cart .total{
    font-size: 2rem;
    padding: 1rem 0;
    text-align: center;
    color: var(--black);
}

.header .login-form{
    width: 30rem;
    border: 0px solid var(--black);
    position: absolute;
    top: 110%;
    right: -110%;
    width: 30rem;
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    background: white;
    text-align: center;
}

.header .login-form.active{
    right: 2rem;
    transition: .4s linear;
}

.header .login-form h3{
    text-align: center;
    font-size: 2rem;
    color: var(--black);
}

.header .login-form .box{
    width: 100%;
    font-size: 1.1rem;
    padding: 1rem 2rem;
    border: 0px solid;
    margin: .7rem 0;
    background: #eee;
    border-radius: .5rem;
    color: var(--black);
    text-transform: capitalize;
}

.header .login-form p{
    font-size: 1.1rem;
    padding: .5rem 0;
    color: var(--light-color);
}

.header .login-form p a{
    font-size: 1.1rem;
    padding: .5rem 0;
    color: var(--blue);
}


section{
    padding: 2rem 9%;

}
.heading{
    text-align: center;
    font-size: 2.5rem;
    font-weight: Bolder;
    color: var(--black);
    margin-bottom: 1rem;
    margin-top: 5rem;
}
.heading span{
    font-size: 3rem;
    font-weight: 700;
    color: var(--blue);
    padding: 2rem 0;
}

.home{
    display: flex;
    justify-content: center;
    background: url(../image/new-banner-1.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.home .content{
    border: 0px solid;
    text-align: center;
    width: 40rem;
    margin: 1.5rem;
}

.home .content h2{
    font-size: 2.5rem;
    font-weight: Bolder;
    color: var(--black);
    margin-bottom: 1rem;
}
.home .content h3{
    font-size: 1.5rem;
    font-weight: Bolder;
    color: var(--black);
    margin-bottom: 1rem;
}
.home .content h3 span{
    font-size: 2rem;
    font-weight: 700;
    color: var(--blue);
}
.home .content p{
    font-size: 1.1rem;
    color: var(--light-color);
    font-weight: 500;
}
.features .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;   
}
.features .box-container .box{
    border: 0px solid;
    text-align: center;
    width: 30rem;
    margin: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow);
    transition: .3s ease-in-out;
    background: white;
}

.features .box-container .box:hover{
    box-shadow: 0px 0px 10px 4px black;
}

.features .box-container .box img{
    margin: 1rem 0;
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
}

.features .box-container .box h3{
    font-size: 1.7rem;
    line-height: 1.8;
    color: var(--black);
}

.stars{
    color: orange;
}

.features .box-container .box p{
    font-size: 1.1rem;
    color: var(--light-color);
    font-weight: 500;
    padding: 0.5rem 0;
}

.features .box-container .box button{
    margin-bottom: 2px;
}
/* 
.products */
.products .product-slider{
    padding: 1rem;
}
.products .product-slider:first-child{
    margin-bottom: 2rem;
}
.products .product-slider .box{
    border: 0px solid;
    text-align: center;
    width: 30rem;
    margin: 1.5rem;
    background: white;
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow);
    transition: .3s ease-in-out;
    padding: 1rem 1rem;
}

.products .product-slider .box:hover{
    box-shadow: 0px 0px 10px 4px black;
}

.products .product-slider .box img{
    height: 15rem;
}

.products .product-slider .box img h1{
    font-size: 2rem;
    font-weight: 700;
    color: var(--black);
    margin-bottom: 1rem;
}

.products .product-slider .box .price{
    font-size: 2rem;
    color: var(--black);
    
}
/* 
.products */

/* review */
.review .review-slider{
    padding: 1rem;

}

.review .review-slider .box{
    border: 0px solid;
    text-align: center;
    width: 30rem;
    margin: 1.5rem;
    background: white;
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow);
    transition: .3s ease-in-out;
    padding: 1rem 1rem;
}

.review .review-slider .box:hover{
    box-shadow: 0px 0px 10px 4px black;
}

.review .review-slider .box img{
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
}   
/* review */

/* footer */
.footer{
    background: white;
    padding: 0rem 1rem;
}



.footer .box-container-1{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1.5rem;
}

.footer .box-container-1 .box-1 h3{
    font-size: 1.7rem;
    padding: 1rem 0;
    color: var(--black);
}
.footer .box-container-1 .box-1 .links{
    display: block;
    font-size: 1.1rem;
    color: var(--light-color);
    padding: 0.5rem 0;
}

.footer .box-container-1 .box-1 p{
    font-size: 1.1rem;
    color: var(--light-color);
    font-weight: 500;
    padding: 0.5rem 0;
    line-height: 1.8;
}

.footer .box-container-1 .box-1 .share a{
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    border-radius: .5rem;
    font-size: 2rem;
    color: var(--black);
    text-align: center;
    margin-left: .2rem;
    background: #eee;

}

.footer .box-container-1 .box-1 .share a:hover{
    background: var(--blue);
    color: white;
}

.footer .box-container-1 .box-1 .email{
    width: 100%;
    margin: .7rem 0;
    padding: 1rem;
    border-radius: .5rem;
    background: #eee;
    font-size: 1.6rem;
    color: var(--black);
    text-transform: none;
}

.footer .box-container-1 .box-1 .payment-img{
    width: 100%;
    margin: .7rem 0;
    padding: 1rem;
    border-radius: .5rem;
    font-size: 1.6rem;
    color: var(--black);
    text-transform: none;
}

.footer .credit{
    text-align: center;
    font-size: 1.5rem;
    color: var(--light-color);
    padding: 0.5rem 0;
    border-top: 2px solid black;
}
/* footer */

@media (max-width:991px){
    html{
        font-size: 55%;
    }
    .header{
        padding: 2rem;
    }
    section{
        padding: 2rem;
    }
}

@media (max-width:767px){

    #menu-btn{
        display: inline-block;
    }

    .header .search-form{
        width: 90%;
    }

    .header .navbar{
        position: absolute;
        top: 110%;
        right: 110%;
        width: 30rem;
        box-shadow: var(--box-shadow);
        border-radius: .5rem;
        background: white;
    }
    .header .navbar a{
        font-size: 2rem;
        display: block;
        margin: 2rem 2.5rem;
        color: var(--black);
        transition: all 0.2s linear;
    }
    .logo-img{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-bottom: 1rem
    }
}

@media (max-width:450px){
    html{
        font-size: 50%;
    }
    .heading{
        font-size: 2rem;
    }
    .footer{
        text-align: center;
    }
}